.modal,
.modal form,
.label,
.input {
  background-color: #fff;
}

.modal {
  border-radius: 8px;
  box-shadow: 0 2px 8px #333;
  position: fixed;
  left: 50%;
  padding: 24px;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 11;
  min-width: 320px;
  max-height: 90vmax;
}

.overlay {
  background: #000;
  height: 100vh;
  left: 0;
  opacity: 0.5;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 10;
}

.label {
  font-size: 20px;
  font-family: "IBM Plex Sans";
}

.input {
  height: 4vh;
  width: 30vw;
  margin: 1rem 1rem;
  border: solid 2px black;
  border-radius: 8px;
  padding: 0 10px;
}

.input:focus {
  background-color: #f3f5f1;
}

.btn-submit {
  background: #E0E1DD;
  width: 5rem;
  height: 1.75rem;
  position: relative;
  right: -70%;
  border: 1px solid black;
  border-radius: 8px;
}

.modal form {
  display: flex;
  flex-direction: column;
}
